{% extends "base.html" %}
{% block content %}

  <div class="container my-3">
    <h1 style="text-align:center;">Hello, Welcome to our Online Store!</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <p style="text-align:center;">
        We are a store that aim to bring you the best of quality as much as we can to bring prices that we think deserve to go along with them!</p>
      <br>
      <p style="text-align:center;">We’re a new website who are always on the lookout for the CUSTOMER! so if you have any problems then please don’t hesitate to contact us as we will aim to try our best to answer all questions and come up with a solution to whatever problem you may be facing with the product! 

      </p>
      <p style="text-align:center;">We look forward to reading your feedback on how we are as a company and how we can improve the prices or products

        Monthly giveaways/competitions will happen! </p>
      <br>
      <h5 style="text-align:center;">Also, Subscribe to Our YouTube Channel for FREE Python Video Tutorials.</h5>
    </div>
    {% endblock %}