{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Your Favourites:{{favourite_products.count}}</h3>
    <div class="table-responsive">
    <table style="width:50%;">
        <thead >
            <th>Image</th>
            <th>Name</th>
            {% comment %} <th>Description</th> {% endcomment %}
            <th>Price(KR)</th>
            <th></th>
        </thead>
        <tbody >
            {% for p in favourite_products %}
            <tr > 
                <td> <img src="{{ p.image.url }}" class="img-responsive" style="width:100px;height:100px"></td>
                <td> {{ p.name }}</td>
                {% comment %} <td>{{ p.description }}</td> {% endcomment %}
                <td>{{ p.price }}</td>   
                <td><form action="{% url 'delete' p.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-danger">
                       
                </form> </td>                                                                                                                       
                    
                {% empty %} 
                <h2>No favourites</h2>
                    {% endfor %}
            </tr>
            
          
        </tbody>
    </table>
</div>

</div>

{% endblock %}