{% extends "base.html" %}
{% block content %}

    <div class = "row">
        <div class="col-md-3">
        <h3>Categories</h3>
        <ul class = "nav nav-pills nav-stacked">
            <li {% if not category %} class = "active" {% endif %}>
                <a href="{% url 'home' %}">All</a>

            </li>

            {% for c in categories %}
            <li {% if category.slug == c.slug %} class="active"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        <h2>{% if category %}{{ category.name }}
            {% else %}Products
            {% endif %}</h2>
        <div class="row">
            {% for product in page_obj %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ product.get_absolute_url }}">
                            
                            <img src="{{product.image.url}}" alt="cannot display" > 

                        </a>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                        {{ product.price }} Kr
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a> 
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    &#60; Page  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &#62;
                    {% comment %} <a href="?page={{ page_obj.number }}"> {{ page_obj.number }} </a> of <a href="?page={{ page_obj.paginator.num_pages }}"> {{ page_obj.paginator.num_pages }}</a> {% endcomment %}
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}