{% extends "base.html" %}
{% load static %}
{% block css%}

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }


{% endblock  %}
{% block content %}
<main class="mx-auto text-center w-50" >
    <div  class="form-signin mt-5">
        <form action="login" method="post" class="form-horizontal">
            <img class="mb-4" src="/media/images/logo.png" alt="" width="72" height="57">
            {% csrf_token%}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Enter Username" name="username">
      <label for="floatingInput">Username</label>
            </div>
           
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
              </div>
              
            <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
            <br />
            <div class="form-group">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </div>
        </form>
    </div>   
</main> 
        {% endblock %}
      
