{% extends "base.html" %}
{% block content %}

 

    {% if search %}

<div class="container mt-2 mb-3">

    <div class="row">
      <h4>Searched For:{{search}}</h4>
      <hr>
        {% for product in products %}
        <div class="col-lg-4 my-4">
            <div class="card shadow align-items-center" style="width: 20rem; height: 23rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: 170px; height: 260px;">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <h5>{{product.description}}</h5>
                  <h4>{{product.price}} Kr</h4>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}

